/* 连接按钮 连接状态------------------------------------*/
#connectBtn {
    /*-fx-color: #ffffff;*/
    /*-fx-padding: 5px 30px;*/
    /*-fx-background-color: linear-gradient(to bottom, #87ff3a 0%, #87ff46 3%, #33fa06 35%, #26ff00 97%, #26ff00 100%);*/
    /*-fx-font-family: 'Microsoft YaHei', sans-serif;*/
    /*-fx-font-size: 12px;*/
    /*-fx-opacity: 0.9;*/

    -fx-background-color:
            #ffffff,
            linear-gradient(#ECECEC 50%, #D5D5D5 100%),
            radial-gradient(center 50% -40%, radius 200%, #2ed93f 45%, #2ed93f 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5px 30px;
}

#connectBtn:hover {
    -fx-cursor: hand;
    -fx-background-color: #2ed93f;
    -fx-opacity: 1;
}

#connectBtn:pressed {
    /*-fx-opacity: 1;*/
    /*-fx-padding: 5px 30px;*/
    /*-fx-spacing: 10px;*/
    /*-fx-start-margin: 10px;*/
    /*-fx-background-color: linear-gradient(to bottom, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #ff9000 100%);*/
    /*-fx-font-family: 'Microsoft YaHei', sans-serif;*/
    /*-fx-cursor: hand;*/

    -fx-background-color:
            #ffffff,
            linear-gradient(#ECECEC 50%, #D5D5D5 100%),
            radial-gradient(center 50% -40%, radius 200%, #d9c82e 45%, #d9c82e 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5px 30px;
}

/* 连接按钮 断开状态------------------------------------*/
#connectBtn1 {
    /*-fx-color: #000000;*/
    /*-fx-padding: 5px 30px;*/
    /*-fx-background-color: linear-gradient(to bottom, #b6b6b6 0%, #7f7f7f 3%, #717171 35%, #424242 97%, #424242 100%);*/
    /*-fx-font-family: 'Microsoft YaHei', sans-serif;*/
    /*-fx-font-size: 12px;*/
    /*-fx-opacity: 0.9;*/

    -fx-background-color:
            #ffffff,
            linear-gradient(#ECECEC 50%, #D5D5D5 100%),
            radial-gradient(center 50% -40%, radius 200%, #464e4a 45%, #464e4a 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5px 30px;
}

#connectBtn1:hover {
    -fx-cursor: hand;
    -fx-background-color: #424242;
    -fx-opacity: 1;
}

#connectBtn1:pressed {
    /*-fx-opacity: 1;*/
    /*-fx-padding: 5px 30px;*/
    /*-fx-spacing: 10px;*/
    /*-fx-start-margin: 10px;*/
    /*-fx-background-color: linear-gradient(to bottom, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #ff9000 100%);*/
    /*-fx-font-family: 'Microsoft YaHei', sans-serif;*/
    /*-fx-cursor: hand;*/

    -fx-background-color:
            #ffffff,
            linear-gradient(#ECECEC 50%, #D5D5D5 100%),
            radial-gradient(center 50% -40%, radius 200%, #d9c82e 45%, #d9c82e 50%);
    -fx-background-radius: 5;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5px 30px;
}

/* coilButtonFalse false状态------------------------------------*/
#coilButtonFalse {
    -fx-color: #212121;
    -fx-background-color: linear-gradient(to bottom, #b6b6b6 0%, #555555 3%, #717171 35%, #8b8b8b 97%, #424242 100%);
    -fx-font-family: 'Microsoft YaHei', sans-serif;
    -fx-cursor: pointer;
    -fx-font-size: 15px;
    -fx-opacity: 1;
}

#coilButtonFalse:hover {
    -fx-cursor: hand;
    -fx-color: #000000;
    -fx-background-color: linear-gradient(to bottom, #b6b6b6 0%, #555555 3%, #717171 35%, #363636 97%, #424242 100%);
    -fx-opacity: 1;
}

#coilButtonFalse:pressed {
    -fx-opacity: 1;
    -fx-spacing: 10px;
    -fx-start-margin: 10px;
    -fx-background-color: linear-gradient(to bottom, #b6b6b6 0%, #7f7f7f 3%, #717171 35%, #5c5c5c 97%, #424242 100%);
    -fx-font-family: 'Microsoft YaHei', sans-serif;
    -fx-cursor: hand;
}

/* coilButtonTure true状态------------------------------------*/
#coilButtonTure {
    -fx-color: #ffffff;
    -fx-background-color: linear-gradient(to bottom, #87ff3a 0%, #87ff46 3%, #33fa06 35%, #26ff00 97%, #26ff00 100%);
    -fx-font-family: 'Microsoft YaHei', sans-serif;
    -fx-cursor: pointer;
    -fx-font-size: 15px;
    -fx-opacity: 0.9;
}

#coilButtonTure:hover {
    -fx-cursor: hand;
    -fx-background-color: #95ff82;
    -fx-opacity: 1;
}

#coilButtonTure:pressed {
    -fx-opacity: 1;
    -fx-spacing: 10px;
    -fx-start-margin: 10px;
    -fx-background-color: linear-gradient(to bottom, #87ff3a 0%, #87ff46 3%, #33fa06 35%, #26ff00 97%, #26ff00 100%);
    -fx-font-family: 'Microsoft YaHei', sans-serif;
    -fx-cursor: hand;
}

/* coilButtonDisable 不可用状态------------------------------------*/
#coilButtonDisable {
    -fx-color: #212121;
    -fx-background-color: #6d5d5d;
    -fx-font-family: 'Microsoft YaHei', sans-serif;
    -fx-cursor: pointer;
    -fx-font-size: 15px;
    -fx-opacity: 1;
}